{%extends "base.html"%}
{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/topsongs.css') }}"
/>
{% endblock %} 
{%block content%}
<div class="top-wrapper">
    <div style="height: 250px;">
        <input type="number" value="30" id="limit-input">
        <input type="checkbox" id="embed-check" name="embed"
             checked>
      <label for="embed">Embed</label>
      <label for="genres">Genre:</label>

      <button onclick="get_top_songs();">Search</button>

        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>Genres</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
          </div>
        </div>
    </div>

    <div id="embed-container">


    </div>
</div>
{%endblock%}